.docs {
    .docu-nav, .docu-content {
        padding: 0px;
        margin: 0px;
    }

    .docu-nav {
        padding: 10px 22px 0px 0px;
    }

    .docu-listgroup>a {
        border: none;
        color: #fff;
        background-color: #434957;
    }
}
